
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}
ul, ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
a{
    color: #282828;
    transition: .3s ease all;
}
a:visited,
a:focus{
    color: none;
}
a:hover{
    color: rgba(248, 42, 42, 0.96);
    transition: .3s ease all;
}
html, body{
	height: 100%;
	font-family: 'Ubuntu', sans-serif;
	scroll-behavior: smooth;
}
.container{
    max-width: 1440px;
    padding: 0 50px;
    margin: 0 auto;
}
/*Основная страница*/
.header-inner{
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.menu-burger{
    display: none;
    top: 20px;
    right: 20px;
    position: absolute;
    width: 40px;
    height: 40px;
}
.menu-burger-container{
    position: relative;
}
.menu-burger-container span{
    position: absolute;
    height: 4px;
    width: 100%;
    border-radius: 5px;
    background: #212121;
}
.menu-burger-container span:nth-child(1){
    top: 5px;
}
.menu-burger-container span:nth-child(2){
    top: 19px;
}
.menu-burger-container span:nth-child(3){
    top: 33px;
}

.menu-burger-container.__open span:nth-child(1){
    transform: rotate(45deg);
    top: 19px;
    transition: .3s ease all;
}
.menu-burger-container.__open span:nth-child(2){
    display: none;
}
.menu-burger-container.__open span:nth-child(3){
    transform: rotate(-45deg);
    top: 19px;
    transition: .3s ease all;
}
.header-number{
    padding: 0px 35px 0 25px;
}
.header-call-number{
    font-weight: 500;
    font-size: 18px;
    line-height: 145.9%;  
    color: #282828;
}
.header-work-time{
    font-weight: 400;
    font-size: 12px;
    line-height: 208.4%;
    color: #6D6D6D;    
}
.header-whatsapp{
    display: flex;
    align-items: center;
    padding-right: 27px;
}
.header-whatsapp-action{
    padding-left: 10px;
    font-size: 12px;
    line-height: 208.4%;
    color: #6D6D6D;
}
.header-nav-menu li{
    list-style: none;
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 208.4%;  
    color: #282828;
}
.header-nav-menu li:not(:last-child){
    padding-right: 20px;
}
.catalog-list{
    position: relative;
}
.catalog-list:hover::after{
    content: url('../img/header/arrow-down_red.svg');
}
.catalog-list::after{
    position: absolute;
    right: -12px;
    content: url('../img/header/arrow-down.svg');
}
.dropdown{
    position: relative;
}
.dropdown-content{
    position: absolute;
    left: 0;
    background: #EEEEEE;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    width: 229px;
    display: none;
}
.dropdown:hover .dropdown-content{
    display:block;
}
.dropdown-content a{
    display: block;
    padding: 5px 5px;
    max-width: 300px;
    border-bottom: 1px solid #FFFFFF;
}
.dropdown-link:hover{
    background: rgba(248, 42, 42, 0.96);
    color: #FFFFFF;
    transition: .3s ease all;
}
.header-nav-menu{
    padding-right: 38px;
}
.user-icon{
    padding-right: 28px;
}
.modal-wrapper{
    display: none;
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
}
.modal-wrapper.__open-modal{
    display: block;
}
.modal-inner{
    padding: 0 20px;
}
.modal-inner-container{
    display: block;
    top: 20%;
    left: 20%;
    max-width: 650px;
    background: #FFFFFF;
    padding: 41px 68.5px;
    text-align: center;
    position: absolute;
}
.modal-inner-title{
    font-weight: 400;
    font-size: 16px;
    line-height: 208.4%;
    color: #232536;
    padding-bottom: 25px;
}
.modal-form input{
    display: block;
    padding: 11.5px 0;
    padding-left: 24px;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 20px;
    border: 1px solid rgba(109, 110, 118, 0.5);
    border-radius: 2px;
}
.mobile-menu{
    transform: translateX(-8000px);
    top: 87px;
    position: absolute;
    width: 100%;
    background: #efefef;
}
.mobile-menu.___mobile{
    transform: translateX(0);
    z-index: 1;
    transition: .5s ease all;
}
.mobile-menu-container{
    padding: 20px 20px;
}
.mobile-menu-container li{
    list-style: none;
    font-weight: 600;
    color: #212121;
}
.mobile-menu-container li:not(:last-child){
    padding-bottom: 20px;
}
.input-submit-btn{
    padding: 10px 13px 10px 10px;
    background: rgba(248, 42, 42, 0.96);
    color: #fff;
    cursor: pointer;
    border: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 145.9%;
}
.close-modal{
    position: absolute;
    top:5px;
    right: 10px;
    cursor: pointer;
}
.main-wrapper {
    background: linear-gradient(96.38deg, #FFFFFF 10.07%, rgba(255, 255, 255, 0) 79.97%),url('../img/main/bg.png') center no-repeat;
    height: 527px;
}
.main-inner {
    padding: 85px 50px 85px 250px;
}
.main-title{
    font-weight: 300;
    font-size: 64px;
    line-height: 88px;
    text-transform: uppercase;
    color: #282828;    
    max-width: 666px;
    padding-bottom: 40px;
}
.main-btn{
    padding: 20px 32px;
    background: rgba(248, 42, 42, 0.96);
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 208.4%;
}
.main-btn:hover{
    color: #FFFFFF;
}
.__submain-btn{
    padding: 19px 50px;
    background: #FFFFFF;
    border: 1px solid rgba(248, 42, 42, 0.96);
    color: rgba(248, 42, 42, 0.96);    
}
.__submain-btn:hover{
    color: rgba(248, 42, 42, 0.96);    
}
.__submain-margin{
    margin-left: 10px;
}
.about-company-inner{
    padding: 91px 50px 75px 80px;
    display: flex;
}
.about-img-block{
    padding-right: 60px;
    position: relative;
}
.about-img-text-wrapper{
    top: 120px;
    left: 50px;
    position: absolute;
    display: block;
    gap: 15px;
}
.about-img-text{
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: 30px;
}
p.company-age{
    font-weight: 700;
    font-size: 64px;
    line-height: 145.9%;  
    color: rgba(248, 42, 42, 0.96);    
}
.about-txt-block{
    max-width: 498px;
}
.txt-block-title{
    font-weight: 500;
    font-size: 36px;
    line-height: 41px;
    text-transform: uppercase;   
    color: #282828;        
}
hr{
    display: block;
    margin: 30px 0;
    width: 69px;
    height: 2px;   
    background: rgba(248, 42, 42, 0.96); 
    border: rgba(248, 42, 42, 0.96); ;   
}
.txt-block-content{
    font-weight: 400;
    font-size: 16px;
    line-height: 208.4%;
    color: #282828;    
    padding-bottom: 40px;
}
.__about-btn{
    padding: 20px 83px 20px 32px;
    color: #fff;
    position: relative;
}
.__about-btn::after{
    position: absolute;
    right: 32px;
    content: url('../img/about/arrow-right.svg');
}
.services-wrapper{
    background: #EBEBEB;
}
.services-inner{
    padding: 65px 50px;
}
.services-title{
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    line-height: 41px;
    text-transform: uppercase;   
    color: #282828;   
}
.services-cards{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 60px 60px;
    padding-bottom: 40px;
}
.services-content{
    display: block;
    margin: 0 auto;
    text-align: center;
}
.services-line{
    display: block;
    margin: 0 auto;
    height: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}
.service-card-item{
    text-align: center;
    max-width: 530px;
}
.service-card-img{
    padding-bottom: 10px;
}
.service-card-title{
    font-weight: 500;
    font-size: 24px;
    line-height: 145.9%;   
    text-align: center;
    color: #282828;   
    padding-bottom: 10px;
}
.service-card-conent{
    font-weight: 400;
    font-size: 16px;
    line-height: 208.4%;
    text-align: center;  
    color: #282828;    
}
.services-btn{
    text-align: center;
}
.benefits-inner{
    padding: 150px 50px;
}
.benefits-title{
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    line-height: 41px;
    text-transform: uppercase;  
    color: #282828;
    padding-bottom: 72px;
}
.benefits-cards{
    display: flex;
    justify-content: center;
}
.benefits-card-item{
    max-width: 206px;
    margin-right: 50px;
}
.benefits-card-item-img{
    padding-bottom: 11px;
}
.benefits-card-item-content{
    font-weight: 400;
    font-size: 16px;
    line-height: 208.4%;
    color: #232536;    
}
.clients-inner{
    max-width: 1095px;
    margin: 0 auto;
    padding: 60px 0;
}
.clients-title{
    font-weight: 500;
    font-size: 36px;
    line-height: 41px;
    text-transform: uppercase;
    color: #282828;
    text-align: center;
    padding-bottom: 40px;
}
.clients-cards{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
}
.client-card-item:nth-child(13){
    grid-column-end: 5;
}
.client-card-item:nth-child(12){
    grid-column-end: 4;
}
.client-card-item:nth-child(11){
    grid-column-end: 3;
}
.certificate-inner{
    max-width: 1015px;
    margin: 0 auto;
    padding: 60px 0;
}
.certificate-title{
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    line-height: 41px;
    text-transform: uppercase; 
    color: #282828;
    padding-bottom: 60px;
}
.certificate-cards{
    display: flex;
}
.certificate-item{
    margin-right: 20px;
}
.certificate-last{
    margin-right: 0;
}
.certificate-content{
    width: 325px;
    height: 402px;
    background: #D9D9D9;    
}
.content-title{
    font-weight: 400;
    display: block;
    font-size: 18px;
    line-height: 208.4%;   
    color: #282828;    
    padding-top: 15px;
    position: relative;
}
.content-title::after{
    position: absolute;
    content: url('../img/download-icon.svg');
    left: 119px;
}
.footer-wrapper{
    background: #EBEBEB;
}
.footer-inner{
    padding: 60px 0;
    margin: 0 auto;
    max-width: 1160px;
    display: flex;
    align-items: center;
    gap: 0 40px;
}
.footer-contact-link{
    font-weight: 500;
    font-size: 18px;
    line-height: 145.9%;    
    color: #282828;   
    position: relative;
    padding-bottom: 10px;
    padding-left: 30px;
}
.footer-contact-link::before{
    position: absolute;
    content: url('../img/footer/phone.svg');
    left: 0;
}
.__whatsapp:before{
    position: absolute;
    content: url('../img/footer/whatsapp.svg');
    left: 0;
}
.__email::before{
    position: absolute;
    content: url('../img/footer/mail.svg');
    left: 0;
}
.__geo::before{
    position: absolute;
    content: url('../img/footer/map-pin.svg');
    left: 0;
}
.footer-nav-menu li{
    list-style: none;
    display: inline;
    padding-right: 30px;
}
li.last-item{
    padding-right: 0;
}
/*Страница о Компании*/
.about-company{
    background: url('../img/!about_compnay/bg.png') no-repeat center;
}
.about-company-our-inner{
    margin: 0 auto;
    display: block;
    padding: 100px 50px 100px 80px;
}
.about-company-title{
    font-weight: 500;
    font-size: 64px;
    line-height: 74px;
    text-align: center;
    text-transform: uppercase; 
    color: #282828;  
}
.about-our-company-main-inner{
    display: block;
    margin: 0 auto;
    padding: 60px 20px;
    max-width: 1100px;
    display: flex;
    gap: 24px;
}
.about-text-block{
    max-width: 535px;
    font-weight: 500;
    font-size: 16px;
    line-height: 208.4%;
    color: #282828;
}
.about-our-company-title{
    font-weight: 500;
    font-size: 24px;
    line-height: 145.9%;  
    text-align: center;
    color: #282828;
    padding: 20px 0;
}
.about-our-company-content{
    font-weight: 400;
    font-size: 16px;
    line-height: 208.4%;
    color: #282828;
}
.block-img-content{
    display: block;
    padding-left: 100px;
    position: relative;
}
.about-or-company-contactots{
    position: absolute;
    left: 0;
    top:150px;
    z-index: 9;
}
/*Страница услуги*/
.services-page-wrapper{
    background: linear-gradient(rgba(202, 202, 202, 0.5), rgba(202, 202, 202, 0.5)),url('../img/!services/services-bg.png') no-repeat center;
}
.services-page-inner{
    margin: 0 auto;
    display: block;
    padding: 100px 20px;
}
.services-page-title{
    font-weight: 500;
    font-size: 64px;
    line-height: 74px;
    text-align: center;
    text-transform: uppercase; 
    color: #282828;  
}
.services-page-about-services-inner{
    margin: 0 auto;
    max-width: 1440px;
    display: block;
    padding: 90px 50px;
}
.services-page-about-services-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 145px;
}
.services-page-services-text{
    max-width: 538px;
}
p.services-page-services-title{
    font-weight: 500;
    font-size: 24px;
    line-height: 145.9%;
    color: #282828;
}
p.services-page-services-content{
    font-weight: 400;
    font-size: 16px;
    line-height: 208.4%;  
    color: #282828;
    padding: 20px 0;
}
p.services-page-service-icon{
    font-weight: 500;
    font-size: 24px;
    line-height: 145.9%;
    color: #282828;
    max-width: 388px;
    padding-bottom: 20px;
    position: relative;
}
p.services-page-service-icon::before{
    position: absolute;
    left: -90px;
    content: url('../img/!services/auto.svg');
}

p.services-page-service-icon.__repair::before{
    position: absolute;
    left: -90px;
    content: url('../img/!services/repair.svg');
}
p.services-page-service-icon.__start-work::before{
    position: absolute;
    left: -90px;
    content: url('../img/!services/start-work.svg');
}
p.services-page-service-icon.__electro::before{
    position: absolute;
    left: -90px;
    content: url('../img/!services/electro.svg');
}
/*Страница контактов*/
.contacts-page-inner{
    padding: 100px 50px 100px 50px;
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    gap: 56px;
}
.contacts-page-contacts{
    max-width: 315px;
}
.contacts-page-title{
    font-weight: 500;
    font-size: 24px;
    line-height: 145.9%;  
    color: #282828;  
    padding-bottom: 20px;
}
.contacts-page-contacts p{
    font-weight: 400;
    font-size: 16px;
    line-height: 208.4%; 
    color: #282828;    
}
.contacts-page-number{
    position: relative;
    padding-left: 30px;
}
.contacts-page-map{
    margin-top: -20px;
    width: 985px;
    height: 485px;
}
.contacts-page-number::before{
    position: absolute;
    content: url('../img/!contacts-page/phone-red.svg');
    align-items: center;
    top: 4px;
    left: 0;
}
.contacts-page-location{
    position: relative;
    padding-left: 30px;
    max-width: 255px;
}
.contacts-page-location::before{
    position: absolute;
    content: url('../img/!contacts-page/geo-red.svg');
    align-items: center;
    top: 0px;
    left: 0;    
}
.catalog-inner{
    padding: 40px 50px;
}
.catalog-inner span{
    font-size: 14px;
    line-height: 208.4%;  
    color: #282828;    
}
span.category-child{
    color: #6D6D6D;
}
.catalog-title{
    padding-top: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 145.9%;
    color: #282828;
}

.catalog-content-inner{
    padding: 30px 50px 200px 50px;
}

.catalog-nav-block-container{
    list-style: none;
    max-width: 203px;
    background: #EFEFEF;
    position: absolute;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
}
.catalog-content-container{
    display: flex;
}
.catalog-cards{
    padding-left: 225px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.catalog-card-item{
    width: 203px;
    height: 257px;
    border: 1px solid #B6B6B6;
}
.catalog-card-img{
    display: block;
    text-align: center;
    padding: 20px 0;
}
.catalog-item-title{
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
}
details{
    position: relative;
}
details > summary {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-bottom: 1px solid #FFFFFF;
    list-style-type: none;
    position: relative;
}

summary::after{
    content: url('../img/!catalog/arrow-down.svg');
    position: absolute;
    right: 10px;
}
details[open] > summary::after{
    content: url('../img/!catalog/arrow-up.svg');
}
details[open] > summary{
    color: #fff;
    background: red;
}
.__spoiler-open {
    background-color: red;
}
.__spoiler-open details[open] > summary #text {
    background-color: #232536;
}
.child-text{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    border-bottom: 1px solid #FFFFFF;
}
.child-category details[open] > summary{
    color: red;
    background: #EFEFEF;
}
.child-category details[open] > summary::after{
    content: url('../img/!catalog/arrow-up-red.svg');
}